In [12]:
#Gets arg from it's url: 
# http://141.142.218.86:8081/notebooks/jup-nb-arg-in-url.ipynb?kernel_name=python3&dwn1=https://darchive.mblwhoilibrary.org/bitstream/1912/26532/1/dataset-752737_bergen-mesohux-2017-dissolved-nutrients__v1.tsv#

In [42]:
from IPython.display import HTML

In [43]:
HTML('''<script type="text/javascript">
        IPython.notebook.kernel.execute("URL = '" + window.location + "'")
        </script>''')

In [44]:
print(URL)

http://141.142.218.86:8081/notebooks/jup-nb-arg-in-url.ipynb?kernel_name=python3&dwn1=https://darchive.mblwhoilibrary.org/bitstream/1912/23805/1/dataset-753388_hhq-chlorophyll__v1.tsv

In [45]:
from urllib.parse import urlparse, parse_qs

In [46]:
qd=parse_qs(urlparse(URL).query)

In [47]:
url=qd.get('dwn1')[0]

In [48]:
url

'https://darchive.mblwhoilibrary.org/bitstream/1912/23805/1/dataset-753388_hhq-chlorophyll__v1.tsv'

In [40]:
#import pandas as pd

In [41]:
#df = pd.read_csv(url)

In [52]:
!wget https://raw.githubusercontent.com/MBcode/ec/master/NoteBook/read_file.py
import read_file as rf

--2021-07-02 11:55:56--  https://raw.githubusercontent.com/MBcode/ec/master/NoteBook/read_file.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 328 [text/plain]
Saving to: ‘read_file.py.1’

read_file.py.1      100%[===================>]     328  --.-KB/s    in 0s

2021-07-02 11:55:56 (9.78 MB/s) - ‘read_file.py.1’ saved [328/328]

In [50]:
df=rf.read_file(url)

In [51]:
df

,Date,Sample,Experiment_num,Time,Replication,Volume_Filtered_mL,Extract_Volume_mL,Dilution_Factor,F_o,F_o_blank,F_a,F_a_blank,Total_chl_with_phaeo,Total_Chl_no_phaeo
0,May 16 2017,100% WSW,1,0,1,135,6,1,16.5,16.5,9.72,9.72,0.73,0.63
1,May 16 2017,100% WSW,1,0,2,140,6,1,15.9,15.9,9.63,9.63,0.68,0.56
2,May 16 2017,100% WSW,1,0,3,135,6,1,16.9,16.9,9.93,9.93,0.75,0.65
3,May 17 2017,HHQ DMSO A,1,24,1,135,6,1,22.9,22.9,12.80,12.80,1.01,0.94
4,May 17 2017,HHQ DMSO B,1,24,2,135,6,1,21.0,21.0,12.30,12.30,0.93,0.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,May 31 2017,HHQ DMSO B,8,24,2,135,6,1,11.4,11.4,6.49,6.49,0.50,0.46
68,May 31 2017,HHQ DMSO C,8,24,3,135,6,1,13.7,13.7,8.56,8.56,0.60,0.48
69,May 31 2017,HHQ Hi A,8,24,1,135,6,1,12.5,12.5,7.74,7.74,0.55,0.44
70,May 31 2017,HHQ Hi B,8,24,2,135,6,1,17.6,17.6,10.60,10.60,0.78,0.65
71,May 31 2017,HHQ Hi C,8,24,3,135,6,1,14.5,14.5,8.64,8.64,0.64,0.55